<h1><%= @shelter.name %></h1>
<p>Located: <%= @shelter.full_address %></p>
<div class="statistics">
  <h3>Statistics:</h3>
  <p><%= "There are #{@shelter_stats.adoptable_pet_count} adoptable pets at this shelter!" %></p>
  <p><%= "Average age of adoptable pets currently at this shelter is #{@shelter_stats.average_age}" %></p>
  <p><%= "#{@shelter_stats.adopted_pet_count} pets have been adopted from this shelter" %></p>

</div>

<h4>Action Required</h4>
<% @shelter_stats.pets_need_attention.each do |pet| %>
<div class="pet_app-<%=pet.id%>">
<p> <strong><%= pet.name %></strong></p>
    <% pet.pet_applications.each do |pet_app| %>
    <% if pet_app.status == "Pending" %>
    <p><%= "Approve or Reject #{pet_app.application.name}'s application " %><%= link_to "here" , "/admin/applications/#{pet_app.application.id}"%></p>
    <% end %>
    <% end %>
</div>

<% end %>
